*{
  margin: 0; 
  box-sizing: border-box;
}
h1{
  font-size: 3em;
  margin-bottom: 1%;
}
p{
  font-size: 1.3em;
}
.body{
  width: 80%;
}

a{
  text-decoration: none;
  color: black;
}
.topNavBar{
  display: flex;
  justify-content: space-between;
  background-color: #F1A436;
  margin-bottom: .2%;
}
.logoRY{
  margin-left: 2.7rem;
  font-size: 1.5rem;
}
.u1, .levelsCon, .bengalStars, .footerUL {
  display: flex;
  list-style-type: none;
  margin-right: 8%;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
ul{
  flex-wrap: wrap;
}
li {
  font-size: 1.5em;
  margin: .5em;
}
.bodyPic{
  /* background-image: url(./images/hero-image.jpg); */
  background-image: url(/images/hero-image.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  background-color: white;
}
.startOff{
  align-self: flex-end;
  margin-bottom: 2%;
  background-color: white;
  font-size: 3em;
  height: auto;
}
.everyDay{
  margin: 0 15%;
  width: 70%;
}
.evPics, .wherePics{
  margin-top: 2%;
  display: flex; 
  justify-content: space-between;
}
.picSpread{
  height: 15em;
  width: 20em;
  margin-right: 1em;
}
.captions, .whereCaps{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: .5%;
  font-size: 1rem;
}
.healthyRec{
  background-color: #dadfea;
}
.healthContainer{
  margin: 2% 10%;
  padding: 5%;
}
.healthyTitle{
  font-size: 2rem;
  margin-bottom: 1rem; 
}
.healthyBody{
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}
.healthPicsCon{
  display: flex;
  justify-content: space-between;
}
.healthyImage{
  height: 12rem;
  width: 12rem;
}
.capBox{
  font-size: 1.2rem;
  background-color: white;
  width: 12rem;
  display: flex;
  justify-content: center;
}
.healthyPicCaptions{
  display: flex;
  justify-content: space-between;
}
.whereCon{
  margin: 2% 10%;
}
.p2{
  margin-bottom: 1.5rem;
}

.wherePicSize{
  height: 15em;
  width: 20em;
}
.westP{
  
  background-color: blue;
}
.weee{
  margin-right: 10%;
}
.abs{
  position: relative;
  right: 6%;
}
footer{
  background-color: #F1A436;
  display: flex;
  justify-content: space-between;
  background-color: #F1A436;
  align-items: center;
  width: 100%;
  height:  5em;
  
}
.footerUL{
  justify-content: center;
  align-items: flex-end;
  
}
.recipeBodyPic{
  background-image: url(images/.bengalBurger);
  background-size: cover;
  height: 60vh;
  background-repeat: no-repeat;
  margin-left: 5%;
  display: flex;
  margin: 0 5%;
  justify-content: center;
  background-color: white;
}
.startOff{
  display: flex; 
  justify-content: center;
  align-items: center;
}
.levels{
  height: 10em;
}
.levels, .bengalText{
  background-color: #dadfea;
  margin: 0 5% ;
  /* height: 10vh; */
}
h2{
  font-size: 2rem;
  padding-top: 2%;
  padding-left: 3.8%;
}
.levelsCon{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
h3{
  font-size: 3rem;

}
.bengalBurger{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  flex-direction: column;
}
.bengalStars{
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  display: flex; 
  justify-content: center;
  margin-left: 4.5em;
}
button{
  font-size: 2rem;
  border-radius: 10%;
  background-color: #A63223;
  height: 1.5em;
  margin-right: 1em;
}
.print, .bengalText{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.reviews, .bengalText{
  font-size: 1.5rem;
}
.fa-star{
  height: 1.5rem;
}
.fa-print {
  margin-left: .5em;
  font-size: 2em;
  
}
.centerB{
  width: 80%;
  padding: 2em;
  font-size: 1.2em;
}
.dot{
  height: 3.5em;
  width: 3.5em;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: .89em;
}
.inNdirCon{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.inCon, .dirCon{
  width: 100%;
}
.inTextI{
  font-size: 2em;
}

.inTextD{
  font-size: 1.5em;
  margin-top: 3em;
}

.youtubeVid{
  display: flex;
  justify-content: center;
  margin: 1rem;
}


